img {
    width: 500px;
  }

  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .large-image {
    width: 80%;
    max-width: 1000px;
    height: auto;
  }
  
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }